<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UIDeviceFamily</key>
	<array>
		<integer>1</integer>
		<integer>2</integer>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>MinimumOSVersion</key>
	<string>10</string>
	<key>CFBundleDisplayName</key>
	<string>Xamarin Chat SignalR</string>
	<key>CFBundleIdentifier</key>
	<string>com.jihadkhawaja.xamarinchatsr</string>
	<key>CFBundleVersion</key>
	<string>1.0</string>
	<key>CFBundleName</key>
	<string>xamarinchatsr</string>
	<key>XSAppIconAssets</key>
	<string>Assets.xcassets/AppIcon.appiconset</string>
	<key>UIAppFonts</key>
	<array>
		<string>Roboto-Regular.ttf</string>
		<string>Roboto-Black.ttf</string>
		<string>Font Awesome 5 Brands-Regular-400.otf</string>
		<string>Font Awesome 5 Free-Solid-900.otf</string>
	</array>
	<true/>
	<key>UIBackgroundModes</key>
	<array>
		<string>remote-notification</string>
	</array>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIMainStoryboardFile</key>
	<string>LaunchScreen</string>
	<key>NSCalendarsUsageDescription</key>
	<string>We do not collect or use Calendars</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>We do not use Microphone</string>
	<key>NSSiriUsageDescription</key>
	<string>We do not collect or use Siri</string>
	<key>NSLocationAlwaysUsageDescription</key>
	<string>We do not collect or use user Location</string>
	<key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
	<string>We do not collect or use user Location</string>
	<key>NSBluetoothPeripheralUsageDescription</key>
	<string>We do not use Bluetooth</string>
	<key>NSContactsUsageDescription</key>
	<string>We do not collect or use user Contacts</string>
	<key>NSAppleMusicUsageDescription</key>
	<string>We do not use Media</string>
	<key>CFBundleLocalizations</key>
	<array>
		<string>en</string>
		<string>ar</string>
		<string>en-US</string>
		<string>ar-LB</string>
	</array>
</dict>
</plist>
