.clickable-paper:hover {
    border: dashed;
    border-width: 1px;
    cursor: pointer;
}

.text-single-line {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    /* number of lines to show */
    line-clamp: 1;
    -webkit-box-orient: vertical;
}

.loading-progress-text {
}

    .loading-progress-text:after {
        content: var(--blazor-load-percentage-text, "Connecting");
    }
